{% load static %}
<link rel="stylesheet" src="{% static 'css/footer.css' %}">
<div class="footer-clean" style="background-color: rgb(163, 159, 154); width: 100%!important;">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3 class=" heading mx-4">Services</h3>
                    <ul style="list-style-type: none; color: #000;">
                        <li><a href="/services" class="fw-bold"><i class="fa-solid fa-list-check"></i> &nbsp;EMS</a></li>
                        <li><a href="/services" class="fw-bold"><i class="fa-solid fa-people-robbery"></i> &nbsp;Crime Reporting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3 class=" heading mx-4"><i class="fa-solid fa-people-group"></i> Our team</h3>
                    <ul style="list-style-type: none; color: #000;">
                        <li><a href="/services" class="fw-bold"><i class="fa-solid fa-user"></i> &nbsp;Rashik Shrestha</a></li>
                        <li><a href="/services" class="fw-bold"><i class="fa-solid fa-user"></i> &nbsp;Sulav Karki</a></li>
                        <li><a href="/services" class="fw-bold"><i class="fa-solid fa-user"></i> &nbsp;Suchak Niraula</a></li>
                        <li><a href="/services" class="fw-bold"><i class="fa-solid fa-user"></i> &nbsp;Nulok Rai</a></li>
                    </ul>
                </div>
                
                
                <!-- <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    
                </div> -->
                <p class="copyright text-center"><strong>Team Strickers © 2023</strong></p>
            </div>
        </div>
    </footer>
</div>