{% extends 'base.html' %}

{% block style %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}

{% block body %}

    <div class="container">
      <form class="forms" action="/home/" method="post">
        <h1>Login</h1>
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        {% csrf_token %}
        {% if message %}
        <p class="text-center">{{message}}</p>
        {% endif %}
        
        <button style="margin-bottom: 0.5rem;">Login</button>
        <button style=" margin: 1.5rem;">Sign Up</button>


        
      </form>
      </div>

    
<script>
  const token = localStorage.getItem("token")
  if (token){
    window.location.href = "/home"
  }
</script>
{% endblock body %}


    
