

  <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
    <div class="container-fluid">
      {% load static %}
      <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' class="img-fluid w-2" %}"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item visually-hidden" id="pendingcases">
            <a class="nav-link" href="/pendingcases">Pending Cases</a>
          </li>
         
        
        </ul>
        <ul class="navbar-nav ml-auto" id="logoutHiddenToggle">
          <li class="nav-item">
            <button class="btn btn-primary" onclick="logout()">Logout</Button>
          </li>

        </ul>
     
      </div>
    </div>
  </nav>
  <script>
    function logout(){
      localStorage.clear()
      window.location.href = "/"
    }
    function forServiceProvider(){
      if (localStorage.getItem('userType') && localStorage.getItem('userType')!="normal" ){
        var pendingCasesElement = document.querySelector("#pendingcases");
        pendingCasesElement.classList.remove("visually-hidden");
      }
    }
    // if (window.location.href !="/"|| window.location.href!=""){
    //   const logoutbtn = document.querySelector("#logoutHiddenToggle")
    //   logout.classList.remove("visually-hidden")
    // }

    forServiceProvider()
  </script>